.index .group-8 {
    height: 26px;
    left: 737px;
    top: 2048px;
    width: 147px;
  }

  .index .shape {
    height: 12px;
    left: -1px;
    position: absolute;
    top: 7px;
    width: 6px;
  }