

.room-card {
  margin-top: 3%;
  margin-bottom: 3%;
  border: 1px solid;
  border-color: #00000026;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-body {
  text-align: left;
}