
*{
   /* Typsnittsfamilj med en fallback om "Montserrat" inte är tillgänglig */
   font-family: "Montserrat", Helvetica;
   color: #00000099; /* Textfärg med viss genomskinlighet */
}

.destination-card {
  text-align: center;
  margin-bottom: 100px;
}
.destination-card h2{
  margin: 10px 1px 80px 1px;
}
#root > div > div.destination-card.container > div > div > h3{
  margin: 15px 1px 1px 1px;
  font-size: 1.5rem;
}

.BookingForm {
  max-width: 70%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  
}
.BookingForm .Form-group{
    height: auto;
    width: 100%;
    padding: 10px;
}
.BookingForm .infobox{
  margin-top: 2%;
  text-align: left;
  padding: 20px 25px;
}
.BookingForm .Form-group .form-control{
  box-shadow: 0px 3.42px 6.85px #f6f4f4;
  border-radius: 20px;

}

.BookingForm .Form-group .form-control, .Form .Form-group .form-check input{
  border: 2.3px solid;
  border-color: #E5E7EB;
}


