.destination-card {
  text-align: center;
}



.Form {
  max-width: 100%;
  align-items: flex-start;
  border-radius: 25px;
  display: inline-flex;
  flex-direction: column;
  padding: 25px;
}
.Form .Form-group{
    height: 73px;
    width: 100%;
}
.Form .infobox{
  margin-top: 150px;
}
