.frame {
    align-items: center;
    background-color: #16161805;
    border: 1.7px solid;
    border-color: #1616184c;
    border-radius: 23.85px;
    display: flex;
    flex-direction: column;
    gap: 6.81px;
    justify-content: center;
    padding: 23.85px;
    position: relative;
    width: 1405px;
}

.frame .text-wrapper {
    align-self: stretch;
    color: #161618;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20.4px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.7px;
    position: relative;
}

.frame .div {
    align-self: stretch;
    color: #161618;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}
