

.DebitForm{
  max-width: 50%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  justify-content: center;
 
}
.DebitForm .Form-group{
    height: auto;
    width: 100%;
    padding: 10px;
}

.DebitForm .infobox{
  margin-top: 2%;
  text-align: left;
  padding: 20px 25px;
}
.optional .col, .DebitForm .Form-group .form-control .form-select {
  border-radius: 10px;

}

.DebitForm .Form-group .optional .col, .DebitForm .Form-group .form-check input, .DebitForm .Form-group .form-control .form-select {
    border: 2.3px solid #E5E7EB;
    box-shadow: 0px 3.42px 6.85px #f6f4f4;
}

.DebitForm .btn{
    width: 50%;
    margin: auto;
}
.optional .col{
    padding: 10px 15px;
    border: 2px solid #E5E7EB;
    margin: 10px;
    max-width: 20%;
}
.optional .col .form-label{
    font-weight: 600;
    color: rgb(255, 188, 79);
}
.optional{
    justify-content: center;
}

